<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Obecné">
        <setting label="Přihlášení na talk.cz" type="lsep" />
        <setting label="E-mail" id="email" type="text" default="" />
        <setting label="Heslo" id="password" type="text" default="" option="hidden" />
        <setting label="Session Cookie" id="session_cookie" type="text" default="" visible="false" />

        <setting label="Přehrávání" type="lsep" />
        <setting label="Preferovaná kvalita" id="video_quality" type="enum" values="Auto|1080p|720p|480p|360p|240p" default="0" />
        <setting label="Preferovaný typ streamu" id="preferred_stream" type="enum" values="HLS (Adaptive)|MP4" default="0"/>
        <setting label="Nastavení InputStream Adaptive" type="action" action="Addon.OpenSettings(inputstream.adaptive)" option="close" enable="eq(-1,0)"/>

        <setting label="Pokročilé" type="lsep"/>
        <setting label="Povolit detailní logování" id="debug" type="bool" default="false" />
    </category>
</settings>